:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(2, 12, 83, 0.87);
  background-color: #c12626;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #30358c;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  padding: 1rem; /* Adjust this to avoid the text touching the edges */
}



button {
  border-radius: 16px;
  border: 2px solid transparent;
  padding: 0.6em 5.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #310041;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
#control {
  display: flex;
  justify-content: center;
  width: 100%; 
}

.description {
  text-align: center;
  margin-top: 20px; 
}


.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #466c8e;
    background-color: #972e2e;
  }
  a:hover {
    color: #2b2d65;
  }
  button {
    background-color: #572c2c;
  }
}
